.container {
  border: 1px solid black;
  border-radius: 3px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .number {
    font-size: 86px;
  }

  .controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
  }
  .btn {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
}
